@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.reward-code_list {
	@include flex($justify-content: flex-start);
}

.reward-code_item {
	width: 178px;
	@include text-align();
	margin-right: $spacing-h-xl * 2;
}

.reward-code_action {
	@include text-align();
	border: $border-normal;
	border-top: none;
	padding: $spacing-v-lg 0;
	& + & {
		border-left: none;
	}
	.reward-code_icon {
		font-size: $font-size-xl;
	}
}

.reward-code_image {
	border: $border-normal;
}
