@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.reward-code_list {
	@include flex($justify-content: flex-start);
}

.reward-code_item {
	padding: $spacing-v-lg $spacing-h-lg * 2;
	@include text-align();
}

.reward-code_image {
	width: $image-size;
}

.reward-code_empty {
	width: $image-size;
	height: $image-size;
	background-color: $color-gray-0;
	@include flex($justify-content: center);
	font-size: $font-size-xl;
	color: $color-gray-1;
}

.reward-code_action {
	@include text-align();
	border: $border-normal;
	padding: $spacing-v-lg 0;
	& + & {
		border-left: none;
	}
	.reward-code_icon {
		font-size: $font-size-xl;
	}
}
