@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.photo-action {
	position: relative;
	overflow: hidden;
	border-radius: $border-radius-md;
	.photo-action_wrap {
		transition: height 200ms ease;
		@include flex($justify-content: space-around);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.5);
		.photo-action_item {
			font-size: $font-size-xl;
			color: $default-color;
			&__checked {
				color: $theme-color;
			}
		}
	}
	.photo-action_wrap__border::after {
		content: '';
		color: $default-color;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border-left: $border-width $border-style $default-color;
		width: 1px;
		height: 20px;
	}

	&:hover {
		.photo-action_wrap {
			height: $tab-height;
		}
	}

	.photo-action_title {
	}
}
