@import '../../../static/css/variables';
@import '../../../static/css/mixins';

$icon-size: 60px;

.preview-image_icon {
	position: absolute;
	top: 50%;
	width: $icon-size;
	height: $icon-size;
	font-size: $icon-size;
	opacity: 0.5;
	transition: opacity 0.2s ease;
	transform: translate(0, -50%);
	color: $default-color;
	&:hover {
		opacity: 1;
	}
}

.preview-image {
	animation: fadeIn 400ms ease 0ms 1 normal;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	padding: 50px 0;
	z-index: $z-index;
	.preview-image_wrap {
		margin: auto;
		width: 80%;
		height: 100%;
		overflow-y: auto;
		@include flex($justify-content: center);

		&::-webkit-scrollbar {
			display: none;
		}

		.preview-image_left {
			@extend .preview-image_icon;
			left: 12%;
		}
		.preview-image_right {
			@extend .preview-image_icon;
			right: 12%;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
