@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.photo-album_modal__input {
	width: 60%;
}

.photo-album_modal__tip {
	margin-left: 70px;
}

.photo-album_pagination {
	@include text-align(right);
}

.photo-album_item {
	display: inline-block;
	margin-right: $spacing-h-xl * 2;
	margin-bottom: $spacing-v-xl;
	@include text-align();
	position: relative;
	.photo-album_checked {
		position: absolute;
		top: $spacing-v-sm;
		left: $spacing-h-md;
		z-index: $z-index;
	}
}

.photo-album_item__img {
	padding: $spacing-v-xl;
	box-shadow: 5px 5px 16px $color-gray-1;
}

.photo-album_item__title {
	height: 24px;
	box-sizing: content-box;
	padding: $spacing-v-lg 0 0;
	font-size: $font-size-md;
	text-shadow: 3px 2px 4px $color-gray-2;
	margin-bottom: 0;
}
