@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.image-load_wrap {
	@include flex($justify-content: center);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.image-load_img {
	animation: fadeIn 400ms ease 0ms 1 normal;
	max-width: 100%;
	user-select: none;
}

.image-load_error {
	padding: 0 $spacing-h-lg;
	.ant-result-icon {
		margin-bottom: $spacing-v-md;
	}
	.ant-result-title {
		font-size: $font-size-md;
	}
	.ant-result-icon > .anticon {
		font-size: 50px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.image-load_empty {
	padding: $spacing-v-lg $spacing-h-lg;
	margin: 0;
	svg {
		width: 100%;
	}
}
