@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.color-pick {
	.sketch-picker {
		border-radius: 0 !important;
		box-shadow: none !important;
	}
	.ant-popover-inner-content {
		padding: 0;
		background-color: $default-color;
	}
}

.color-pick_btn {
	@include text-align(right);
	background-color: $default-color;
}

.color-pick-btn_cancel {
	cursor: pointer;
}
