@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.image-upload_input {
	margin: $spacing-v-lg $spacing-h-lg;
	width: $image-size;
}

.image-upload_list {
	@include flex($justify-content: flex-start);
	flex-wrap: wrap;
}

.image-upload_item {
	border: $border-normal;
	margin: $spacing-v-lg $spacing-h-lg;
	transition: transform 0.4s ease, opacity 0.4s ease;
	&:hover {
		//transform: scale(1.1);
		//opacity: 0.8;
	}
}
