@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.image-upload_input {
	margin: $spacing-h-lg $spacing-v-lg;
	width: 180px;
}

.image-upload_list {
	list-style: none;
	margin: 0;
	padding: 0;
	@include flex($justify-content: flex-start);
	flex-wrap: wrap;
}

.image-upload_item {
	border: $border-normal;
	margin: $spacing-h-lg $spacing-v-lg;
	transition: transform 0.4s ease, opacity 0.4s ease;
	&:hover {
		transform: scale(1.1);
		opacity: 0.8;
	}
}
