@mixin text-align($align: center) {
  text-align: $align;
}

@mixin flex($align-items: center, $justify-content: space-between) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
