$default-color: #fff;

$icon-width: 20px;

$menu-width: 200px;

/* 水平间距 */
$spacing-h-sm: 5px;
$spacing-h-md: 8px;
$spacing-h-lg: 12px;
$spacing-h-xl: 16px;

/* 垂直间距 */
$spacing-v-xs: 3px;
$spacing-v-sm: 6px;
$spacing-v-md: 9px;
$spacing-v-lg: 12px;
$spacing-v-xl: 15px;
