$font-size-sm: 12px;

$font-size-normal: 14px;

$font-size-md: 16px;

$font-size-lg: 18px;

$font-size-xl: 24px;

$theme-color: #1890ff;

$default-color: #fff;

$color-gray-0: #eee;
$color-gray-1: #999;
$color-gray-2: #666;
$color-gray-3: #333;

$border-color: #eee;
$border-width: 1px;
$border-style: solid;

$border-normal: $border-width $border-style $border-color;

$icon-width: 20px;

$menu-width: 200px;

$image-size: 180px;

$tab-height: 40px;

$z-index: 99;

/* 水平间距 */
$spacing-h-sm: 5px;
$spacing-h-md: 8px;
$spacing-h-lg: 12px;
$spacing-h-xl: 16px;

/* 垂直间距 */
$spacing-v-xs: 3px;
$spacing-v-sm: 6px;
$spacing-v-md: 9px;
$spacing-v-lg: 12px;
$spacing-v-xl: 15px;

$border-radius: 2px;
