@import '../../static/css/variables';
@import '../../static/css/mixins';

.home-page_sider {
	overflow: auto;
	height: 100%;
	position: fixed;
	left: 0;
}

.home-page_layout {
	margin-left: $menu-width;
}

.home-page_header {
	background: $default-color;
	padding: 0;
}

.home-page_content {
	margin: $spacing-v-lg $spacing-h-lg;
	padding: $spacing-v-lg $spacing-h-lg;
	background-color: $default-color;
	.ant-back-top {
		right: 20px;
	}
}

.home-page_footer {
	background: $default-color;
}

.home-page_logo {
	color: $theme-color;
	font-size: $font-size-xl;
	font-weight: bolder;
	font-style: italic;
	@include text-align();
	padding: $spacing-v-lg 0;
}

.back-top {
	font-size: $font-size-lg;
	height: 40px;
	border-radius: 5px;
	@include text-align();
	line-height: 40px;
	border: $border-width $border-style $theme-color;
	color: $theme-color;
}
