@import '../../static/css/variables';
@import '../../static/css/mixins';

.home-page_sider {
	overflow: auto;
	height: 100%;
	position: fixed;
	left: 0;
}

.home-page_layout {
	margin-left: $menu-width;
}

.home-page_header {
	background: $default-color;
	padding: 0;
}

.home-page_content {
	margin: $spacing-v-lg $spacing-h-lg;
	padding: $spacing-v-lg $spacing-h-lg;
	background-color: $default-color;
}

.home-page_footer {
	background: $default-color;
}

.home-page_logo {
	color: $theme-color;
	font-size: 26px;
	font-weight: bolder;
	font-style: italic;
	@include text-align();
	padding: $spacing-v-lg 0;
}
