@import "../../static/css/variables";
@import "../../static/css/mixins";

.login-page {
  height: 100%;
  background-color: #71adde;
}

.login-page_icon {
  color: rgba(0, 0, 0, 0.25);
}

.login-page_form {
  width: 300px;
}
