@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.image-card_picture {
	width: $image-size;
	height: $image-size;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-card_action {
	@include text-align;
	padding: $spacing-v-md 0;
	& + & {
		border-left: $border-normal;
	}
}
