@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.image-card_action {
	@include text-align;
	padding: $spacing-v-md 0;
	& + & {
		border-left: $border-normal;
	}
}

.image-card_info {
	width: 100%;
	.image-card_title {
		padding: $spacing-v-lg $spacing-h-lg 0;
		font-size: $font-size-md;
		@include ellipsis;
	}
	.image-card_intro {
		padding: 0 $spacing-h-lg $spacing-v-lg;
		font-size: $font-size-sm;
		margin-bottom: 0;
		@include ellipsis(3);
	}
}

.image-card_bottom {
	border-top: $border-normal;
}
